nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
  }

  h1 {
    text-align: center;
    margin: 0 auto;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    content: "- ";
  }
  
  a {
    display: block;
    color: #f5f1f1;
    text-decoration: none;
    font-size: 18px;
  }
  
  .centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #paragrafo1 {
    color: red;
    font-size: 24px;
    font-weight: bold;
  }
  